body {
    background-image: url("../img/main_background.svg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Be Vietnam Pro', sans-serif;
    padding-top: 15%;
    margin: 0%;
}


.logo {
    width: 24%;
    height: auto;
    z-index: 4;
    position: fixed;
    left: -4%;
    top: -4%;
}

header,
footer {
    display: flex;
    width: 100%;
}

.menuNav {
    position: fixed;
    top: 0%;
    background-image: linear-gradient(to left, rgba(255, 253, 253, 0.037), black);
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: right;
    align-items: center;
    z-index: 3;
}

.menuNav a {
    text-decoration: none;
    margin-right: 1.75rem;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    text-shadow: 2px 0 #000000, -2px 0 #000000, 0 2px #000000, 0 -2px #000000,
        1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000;
}

.menuNav a:hover {
    color: rgba(255, 0, 0, 0.825);
    transition: 0.5s;
    transform: scale(1.1);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    text-shadow: 1px 0 #fff, -1px 0 #fff, 0 1px #fff, 0 -1px #fff,
        1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}

header {
    align-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.presentacion {
    text-align: center;
}

h2 {
    font-size: 2.451rem;
    font-weight: 700;
}

.presentacion p {
    text-align: justify;
    margin: 0% 5% 0% 5%;
}

.lista {
    text-align: justify;
    margin: 0% 5% 0% 5%;
}

ol {
    list-style-type: disc;
}



.actividadesDeportivas {
    text-align: center;
}

.actividadesDeportivas div {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

h3 {
    font-size: 2.451rem;
    font-weight: 700;
    color: white;
    margin-bottom: 0%;
}

h4 {
    color: white;
    margin-top: 0%;
}

.actividadesDeportivas article {
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 0, 0, 0.825);
    display: flex;
    flex-direction: column;
    height: 13.688rem;
    margin: 4.625rem 0 2.813rem 0;
    position: relative;
    transition: 0.3s;
    width: 24rem;
}

.actividadesDeportivas article:hover {
    transform: scale(1.5);
    transition: 0.3s;
    z-index: 1;
    box-shadow: 0 0.25rem 0.438rem rgba(0, 0, 0, 0.25);
}

.actividadesDeportivas article img {
    height: 4.375rem;
    position: absolute;
    top: -35px;
}

.navbar {
    display: none;
    visibility: hidden;

}

@media (max-width: 890px) {
    .menuNav {
        display: none;
    }

    header .navbar {
        top: 0%;
        right: 0%;
        width: 100%;
        position: fixed;
        display: flex;
        visibility: visible;
        align-items: right;
        justify-content: right;
        text-align: right;
        background-image: linear-gradient(to left, rgba(255, 253, 253, 0.037), black);
        text-shadow: 2px 0 #000000, -2px 0 #000000, 0 2px #000000, 0 -2px #000000,
            1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000;
        flex-wrap: wrap;
        z-index: 2;
    }

    .navbar-dark .navbar-toggler {
        color: rgb(255, 255, 255, 1);
        border-color: rgba(255, 0, 0, 0.825);
        background-color: black;
    }

    .dark-blue-text {
        color: white;
    }

    .nav-link {
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        color: white;
        font-size: 1.2rem;
        font-weight: bold;
    }

    .fa-1x {
        font-size: 2.5rem;
    }

    .logo {
        top: 2px;
        -webkit-filter: drop-shadow(2px 1px 0 black) drop-shadow(-1px -1px 0 black);
        filter: drop-shadow(2px 1px 0 black) drop-shadow(-1px -1px 0 black);
    }

}

/*Footer*/
footer {
    background-image: linear-gradient(to left, rgba(255, 253, 253, 0.037), black);
    bottom: 0%;
    position: relative;
    padding-top: 5%;
    padding-bottom: 5%;
    display: flex;
    display: inline-block;
}

.texto {
    bottom: 0%;
    position: absolute;
    left: 35%;
}

.texto img {
    height: 3%;
    width: 3%;
    color: white;
}

.datosContacto{
    padding-left: 3%;
}

.datosContacto img {
    height: auto;
    width: 2rem;
}

footer p {
    color: white;
    margin: 0%;
    text-shadow: 1px 0 #000000, -1px 0 #000000, 0 1px #000000, 0 -2px #000000,
        1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000;
    font-size: 80%;
}

.logos img {
    height: auto;
    width: 4rem;
    padding-left: 15%;
}

.logos {
    right: 4%;
    position: absolute;
    top: 40%;
}

.navegacion {
    display: flex;
    height: 8.821rem;
    justify-content: space-between;
    width: 24.546rem;
    top: 30%;
    left: 50%;
    position: absolute;
    transform: translateX(-57%)
}

.navegacion ul {
    list-style-type: none;
    margin: 0%;
    padding: 0%;
}

.navegacion ul li {
    padding-bottom: 0.75rem;
}

.navegacion ul li a {
    color: white;
    font-weight: 400;
    text-decoration: none;
    text-shadow: 1px 0 #000000, -1px 0 #000000, 0 1px #000000, 0 -2px #000000,
        1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000;
}