@font-face {
  font-family: 'icomoon';
  src:  url('fonts1/icomoon.eot?vadxut');
  src:  url('fonts1/icomoon.eot?vadxut#iefix') format('embedded-opentype'),
    url('fonts1/icomoon.ttf?vadxut') format('truetype'),
    url('fonts1/icomoon.woff?vadxut') format('woff'),
    url('fonts1/icomoon.svg?vadxut#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook2:before {
  content: "\ea91";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-youtube:before {
  content: "\ea9d";
}



.social ul {
position:fixed;
bottom: 0%;
right: 0%;
z-index:40;

    list-style: none;
  }
 
  .social ul li a {
    display: inline-block;
    color:#fff;
    background: #000;
    padding: 10px 17px;
    text-decoration: none;
    -webkit-transition:all 500ms ease;
    -o-transition:all 500ms ease;
    transition:all 500ms ease; /* Establecemos una transición a todas las propiedades */
  }
 
  .social ul li .icon-facebook2 {background:darkblue;} /* Establecemos los colores de cada red social, aprovechando su class */
  .social ul li .icon-twitter {background: cyan;}
  .social ul li .icon-youtube {background: red;}
  .social ul li .icon-pinterest {background: black;}
  .social ul li .icon-mail {background: black;}
 
  .social ul li a:hover {
    background: rgba(9, 27, 67, 1); /* Cambiamos el fondo cuando el usuario pase el mouse */
    padding: 15px 22px; /* Hacemos mas grande el espacio cuando el usuario pase el mouse */
  }
  